*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
}

.demo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #894881, #462542);
}
.demo__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-100px, -100px);
          transform: translate(-100px, -100px);
  -webkit-filter: url("#goo");
          filter: url("#goo");
}
.demo__buttons.step-0 .demo__social-btn-1, .demo__buttons.step-0 .demo__social-btn-2, .demo__buttons.step-0 .demo__social-btn-3, .demo__buttons.step-0 .demo__social-btn-4 {
  -webkit-transform: translate3d(-50px, -50px, 0);
          transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-1 .demo__social-btn-1 {
  -webkit-transform: translate3d(-50px, -50px, 0);
          transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-1 .demo__social-btn-2, .demo__buttons.step-1 .demo__social-btn-3, .demo__buttons.step-1 .demo__social-btn-4 {
  -webkit-transform: translate3d(-50px, 50px, 0);
          transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-2 .demo__social-btn-1 {
  -webkit-transform: translate3d(-50px, -50px, 0);
          transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-2 .demo__social-btn-2 {
  -webkit-transform: translate3d(-50px, 50px, 0);
          transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-2 .demo__social-btn-3, .demo__buttons.step-2 .demo__social-btn-4 {
  -webkit-transform: translate3d(50px, 50px, 0);
          transform: translate3d(50px, 50px, 0);
}
.demo__buttons.step-3 .demo__social-btn-1 {
  -webkit-transform: translate3d(-50px, -50px, 0);
          transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-3 .demo__social-btn-2 {
  -webkit-transform: translate3d(-50px, 50px, 0);
          transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-3 .demo__social-btn-3 {
  -webkit-transform: translate3d(50px, 50px, 0);
          transform: translate3d(50px, 50px, 0);
}
.demo__buttons.step-3 .demo__social-btn-4 {
  -webkit-transform: translate3d(50px, -50px, 0);
          transform: translate3d(50px, -50px, 0);
}
.demo__social-btn {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  background: white;
  color: #261758;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.demo__social-btn:hover {
  color: #106279;
  box-shadow: 0 0 15px white;
}
.demo__open-btn {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  color: #261758;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.demo__open-btn:hover {
  color: #106279;
  box-shadow: 0 0 15px white;
}

.about-me {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
.about-me a {
  color: white;
}
.about-me a:hover {
  color: #6666ff;
}
