* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Handlee', cursive, sans-serif;
    font-size: 13pt;
    background-color: hsla(240, 0%, 14%, 1);
    padding: 0;
    margin: 0;
    color: hsla(240, 100%, 99%, 1);
    transition: background-color 300ms;
}
.pc, .hid {
  display: none;
}
.ps {
  font-size: 15px;
}
/* ========== navbar ========== */
nav{
    text-align:center;
    height:59px;
    line-height:59px;
    position:relative;
    font-size:19px;
    font-weight:bold;
    color:#FFF;
    background-color:hsla(240, 0%, 17%, 1);
    cursor:pointer;
    border-bottom: 1px solid black;
}
nav p {
  text-align:center;
  text-transform:uppercase;
}
nav ul{
    list-style:none;
    text-transform:capitalize;
    padding:0;
    margin:0;
    display:block ;
    position:absolute;
    width:100%;
}

.menu li{
    background-color:hsla(240, 0%, 17%, 1);
    color:#FFF;
    border:1px solid black;
    border-top: 0;
    height:59px;
    line-height:59px;
    position:relative;
    font-size:19px;
    cursor:pointer;
    display:none;
    padding:0;
    margin:0 auto;
    width: 98%;
}
.menu li a {
    text-decoration:none;
    color:#FFF;
    font-weight:bold;
    display:block;
}
.menu li:hover{
    background:hsla(240, 0%, 14%, 1);
}
/* ========== nav End ========== */

/* ========== header ========== */
header:before {
    content:" ";
    background-image: url("images/bg.jpg");
    position:absolute;
    background-size: cover;
    background-position:top;
    min-height:390px;
    width:100%;
    z-index:-1;
    filter: brightness(50%) blur(1px);
}
header {
    overflow:hidden;
    min-height: 390px;
}
.img-circle {
    border-radius: 50%;
    display: block;
    width: 160px;
    height: 160px;
    margin: 35px auto;
    border: 3px solid hsla(240, 20%, 35%, 1);
}
header h1 a {
  text-decoration: none;
  color: hsla(240, 20%, 99%, 1);
  font-size: 34px;
}
/*  =========== sections ============ */
h1 {
    font-size: 15pt;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
p {
    padding: 0;
    margin: 0;
    text-align: justify;
    text-indent: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.section {
    background-color: hsla(240, 0%, 25%, 1);
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    position: relative;
    transition: background-color 300ms;
}
.section:hover {
  position: relative;
  top: -3px;
  left: -3px;
  box-shadow: 4px 4px 11px hsla(240, 0%, 0%, 1);
}
.skills:after {
    background-color: transparent;
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: -0.5%;
    left: 85%;
    border-top: solid #a00 3rem;
    border-right: solid #a00 1rem;
    border-left: solid #a00 1rem;
    border-bottom: solid transparent 1.5rem;
    filter: drop-shadow(3px 3px 3px hsla(240, 0%, 0%, 1));
    border-radius:1.8px 1.8px 0 0;
}
li {
    margin-bottom: 15px;
    margin-left: 40px;
    font-weight: bold;
}
progress {
    width: 80%;
    height: 20px;
    color: linear-gradient(45deg, #00f000,#459905);
    background-color: hsla(240, 20%, 80%, 1);
    border-radius: 5px;
    border: 2px solid hsla(240, 20%, 85%, 1);
}
progress:hover {
    width: 82%;
    height: 22px;
    box-shadow: 3px 3px 5px hsla(240, 20%, 5%, 1);
}
progress::-webkit-progress-bar {
    background: hsla(240, 20%, 80%, 1);
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background:linear-gradient(45deg, #00f000,#459905);
    border-radius: 5px 0 0 5px;
}
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
    border-radius: 5px;
}
.works {
  text-align: center;
}
#contacts {
    position: relative;
    background-color: hsla(240, 0%, 25%, 1);
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    transition: background-color 300ms;
}
#contacts:after {
    position: absolute;
    width: 28px;
    height: 28px;
    content: "";
    background-color: inherit;
    left: 15%;
    top: 92%;
    transform: rotate(45deg);
}
#contacts:hover {
    filter: drop-shadow(4px 4px 5px hsla(240, 0%, 0%, 1));
    position: relative;
    top: -3px;
    left: -3px;
}
#contacts img {
    height: 60px;
    width: 60px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    height: 63px;
    width: 63px;
    position: relative;
    top: -2px;
    left: -2px;
    filter: drop-shadow(5px 5px 3px hsla(240, 0%, 0%, 1));
}
#contacts {
    text-align: center;
}
#contacts ul {
  list-style: none;
}
#contacts span {
  margin-bottom: 10px;
}

footer {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    padding-top: 20px;
    color: hsla(240, 0%, 40%, 1);
}

.switch{
    width: 45px;
    height: 25px;
    transform: translate(-50%,-50%);
    background-color: #4D30AE;
    border-radius: 50px;
    padding: 2.5px;
    transition: .6s ease-out;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-bottom:0px;
    position: relative;
    top: 10px;
}
.handle{
    height: 20px;// 70px;
    width: 20px; //70px;
    background-color: white;
    border-radius: 50%;
    transition: all .6s;
    z-index: 0;
    position:relative;
}
.circle{
    background-color: #46A0F6;
    width: 20px;//70px;
    height: 20px;//70px;
    border-radius: 50%;
    transition: .6s ease-out;
    position: absolute;
    transform: translateX(-20px);//-70px);
    z-index: 1;

}

.selectedd {
    transform: translate(-5px,-5px);
    background-color: #4D30AE ;

}

@media only screen and (max-width: 700px) {
  nav:hover {
      background:hsla(240, 0%, 14%, 1);
  }
  nav:hover .menu{
      perspective:1000px;
  }
  nav:hover .menu li{
      display:block;
      opacity:0;
      transform-origin: top center;
  }
  .menu li:last-child{
      border-radius:0px 0px 5px 5px;
  }
  nav:hover .menu li:nth-child(1) {
      animation: menu 300ms 120ms ease-in-out forwards;
  }
  nav:hover .menu li:nth-child(2) {
      animation: menu 300ms 240ms ease-in-out forwards;
  }
  nav:hover .menu li:nth-child(3) {
      animation: menu 300ms 360ms ease-in-out forwards;
  }
  nav:hover .menu li:nth-child(4) {
      animation: menulast 1000ms 500ms ease-out forwards;
  }
  @keyframes menu {
      0% {opacity:0; transform:rotatex(-70deg);}
      100% {opacity:.99; transform:rotatex(0deg)}
  }
  @keyframes menulast {
      0% {opacity:0; transform:rotatex(-70deg);}
      10%{opacity: 0.99; transform: rotateX(-30deg);}
      55% {opacity:0.99; transform:rotatex(20deg);}
      80% {opacity:0.99; transform:rotatex(-15deg);}
      100% {opacity:.99; transform:rotatex(0deg);}
  }
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }
  .pc {
    display: inherit;
  }
  header, header:before {
    min-height: 700px;
  }
  nav {
    background-color:hsla(240, 0%, 17%, 0.3);
    border: none;
    position: relative;
    top: 20px;
    cursor: inherit;
  }
  nav img {
    height: 90px;
    float: left;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    top: -10px;
  }
  nav p {
    display: none;
  }
  nav .menu li {
    display: inline-block;
    width: 120px;
    float: left;
    position: relative;
    left: 110px;
    background-color: inherit;
    border: inherit;
  }
  nav .menu li:hover {
    border-bottom: 2px solid #fff;
  }
  .img-circle {
      margin-top: 130px;
  }
  header h1  {
      margin-top: 50px;
  }
  .img-circle {
      border-radius: 50%;
      display: block;
      width: 200px;
      height: 200px;
      margin: 140px auto;
      border: 3px solid hsla(240, 20%, 35%, 1);
  }
  .main {
      width: 65%;
      display:inline-block;
      margin-right: 0;
      margin-left: 20px;
  }
  .sticky {
      width:30%;
      position:sticky;
      display:inline-block;
      float:right;
      margin-left: 0;
      margin-top: 0;
      top:15px;
  }
}
